ldapdomaindump
lsassy
kerbrute
python-ldap
ldap3
PyYAML>=5.1
pyasn
LnkParse3
wheel
git+https://github.com/dirkjanm/adidnsdump#egg=adidnsdump
git+https://github.com/zer1t0/certi.git
git+https://github.com/ly4k/Certipy.git
git+https://github.com/fox-it/BloodHound.py.git