ldap3
#enum4linux-ng
PyYAML>=5.1
#DonPAPI
pyasn
LnkParse3
wheel
#Tools
ldapdomaindump
git+https://github.com/dirkjanm/adidnsdump#egg=adidnsdump
git+https://github.com/zer1t0/certi.git
git+https://github.com/ly4k/Certipy.git
git+https://github.com/fox-it/BloodHound.py.git